#h1 {color: black; font-style: Avantgarde; text-align: center;}
#body {background-color:#F12866;}
.center {display: block; margin-left: auto; margin-right: auto; width: 50%;}
.head {background-color: ##EE0938; padding: 20px;}
